@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13pt;
}
h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0px;
}
nav {
    background-color: #333;
    padding: 5px 20px;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fff;
}





.menu li {
    font-size: 16px;
    padding: 15px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.menu li a {
    display: block;
}
.logo a {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.button {
    /* display: none; */
}
.button.secondary {

}



/* mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}
.item.button {
    order:2;
}
.item {
    width: 100%;
    text-align: center;
    order:3;
    display: none;
}
.item.active {
    display: block;
}



.toggle {
    cursor: pointer;
}
.bars {
    background-color: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 23px;
}
.bars::before, .bars::after {
    background-color: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 23px;
}
.bars::before{
    top: 6px;
}
.bars::after{
    top: -6px;
}


/* tablet menu */
/* @media (min-width: 600px) and (max-width: 960px) {
 */
 @media (min-width: 600px){

    .menu{
        justify-content: center;
    }
    .logo {
        flex: 1;

    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary a{
        background: transparent;
    }
    .button a{
        padding: 7px 15px;
        background-color: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }
    
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button a {
        -webkit-transition:background-color 0.25s ease-out;
        -moz-transition:background-color 0.25s ease-out;
        -o-transition:background-color 0.25s ease-out;
        transition:background-color 0.25s ease-out;
    }
    .button.secondary a:hover {
        color: #ddd;
    }

}

@media all and (min-width: 960px){
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;

    }
    .menu li.button {
        padding-right: 0;
    }

}






